 /* Google Fonts - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }
 body{
  background-image: url(img/galaxy.jpg);
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
 }
 nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
 .container {
   display: flex;
   row-gap: 15px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   width: 100%;
   overflow: hidden;
 }
 .logo{
  height: 80px;
  width: 80px;
  align-items: center;
  margin-left:250PX;

 }
 .container .image {
   position: absolute;
   height: 100%;
   width: 100%;
   object-fit: cover;
   z-index: -1;
 }
 .container header {
   font-size: 60px;
   color: #fff;
   font-weight: 600;
   text-align: center;
 }
 .container p {
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   max-width: 550px;
   text-align: center;
 }
 .container .time-content {
   display: flex;
   column-gap: 30px;
   align-items: center;
 }
 .time-content .time {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 .time .number,
 .time .text {
   font-weight: 500;
   color: rgb(255, 236, 236);
 }
 .time .number {
   font-size: 40px;
 }
 .time .text {
   text-transform: capitalize;
   font-size: 12px;
 }
 .email-content {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 30px;
   width: 100%;
   color: black;
 }
 .email-content p {
   font-size: 13px;
 }
 .input-box {
   display: flex;
   align-items: center;
   height: 40px;
   max-width: 360px;
   width: 100%;
   margin-top: 20px;
   column-gap: 20px;
 }
 .input-box input,
 .input-box button {
   height: 100%;
   outline: none;
   border: none;
   border: 1px solid #fff;
   border-radius: 4px;
   background-color: rgba(255, 255, 255, 0.2);
   font-weight: 400;
 }
 .input-box input {
   width: 100%;
   padding: 0 15px;
   color: #fff;
 }
 input::placeholder {
   color: #fff;
 }
 .input-box button {
   cursor: pointer;
   color: #fff;
   white-space: nowrap;
   padding: 0 20px;
   transition: all 0.3s ease;
 }
 .input-box button:hover {
   background-color: #fff;
   color: #0d6a81;
 }
 @media screen and (max-width: 300px) {
   .container header {
     font-size: 50px;
   }
 }
 
.btn{
    margin-left: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: transparent;
  }
  
  li {
    float: left;
    color: black;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: 	#A9A9A9;
  }
  li.navlft{
    margin-left:280px;
  }
  li.actv{
    margin-left:250px;
  }

  .btn{
    background-color:white;
    color: black;
    border-bottom: none;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
   
}